:root {
  --buffer: 24px;
  --margin: 10px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.account {
  border-bottom: 1px solid black;
}

body {
  font-family: Sans-Serif;
  line-height: 150%;
  width: 100%;
}

button {
  background: black;
  color: white;
  margin-bottom: var(--buffer);
  padding: var(--margin);
}

button * {
  color: white;
}

.container {
  padding: var(--buffer);
}

.content {
  flex-grow: 1;
  padding-top: var(--buffer);
}

.debug .account {
  background: red;
}

.debug body {
  background: yellow;
}

.debug .container {
  background: blue;
}

.debug .content {
  background: green;
}

.firebaseui-auth-container {
  max-width: 360px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
  margin-bottom: var(--buffer);
  text-transform: capitalize;
}

.hide {
  display: none !important;
}

.link {
  display: block;
}

.games, .rule {
  margin-bottom: var(--buffer);
}

.quote {
  font-style: italic;
  margin: var(--buffer) 0;
}

.quote span {
  display: inline-block;
  border-top: 1px solid dimgray;
  padding-top: var(--margin);
  color: dimgray;
}

.show {
  display: initial !important;
}

.user {
  width: 100%;
  display: inline-block;
}

.user, .firebaseui-auth-container {
  margin-left: auto;
  margin-right: auto;
}

.user-link a {
  border-bottom: 1px solid lightgray;
  padding-bottom: 2px;
}

.user-link + * {
  margin-top: var(--margin);
}

@media (min-width: 481px) {
  .user, .firebaseui-auth-container {
    margin-bottom: var(--buffer);
  }
}

@media (min-width: 1024px) {
  .layout {
    display: flex;
    flex-direction: row-reverse;
  }

  .account {
    border: none;
    border-left: 1px solid;
    padding-left: var(--buffer);
  }

  .content {
    padding-top: 0;
    padding-right: var(--buffer);
  }

  .user {
    max-width: 360px;
  }

  .user, .firebaseui-auth-container {
    margin: 0;
    min-width: 360px;
  }

  .user-link + * {
    margin-top: var(--buffer);
  }

  .user-link + .user-link {
    margin-top: var(--margin);
  }
}
